.header {
  display:flex;
  flex-direction: column; /* Change to column */
  align-items: flex-start; /* Align items to the left */
  padding: 10px; /* Adjust padding as needed */
  
 border-bottom: 1px solid #f6e5e5;
 background-color: #282A31;
 width: 40cm;
 margin-left:-2.5cm;
  

}

.logo-container {
  display: flex;
  flex-direction: row; /* Keep logo and label side by side */
  align-items: center;
  margin: 10px 0; /* Adjust spacing between sections */
}

.logo {
  max-width: 100px;
  margin-right: 10px; /* Adjust spacing between logo and label */
  margin-top: 0; /* Reset margin */
}

.logo-label {
  font-weight: bold;
  font-size: 22px;
  color: white;
  margin-top: 0; /* Reset margin */
}

.location-container {
  display: flex;
  flex-direction: row; /* Keep icon and label side by side */
  align-items: center;
  margin: 10px 0; /* Adjust spacing between sections */
}

.location {
  max-width: 25px;
  margin-right: 10px; /* Adjust spacing between icon and label */
 
}

.location-label {
  font-weight: bold;
  font-size: 13px;
  color: white;
}

nav {
  margin: 10px 0; /* Adjust spacing between sections */
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row; /* Keep navigation links in a row */
}

nav ul a {
  text-decoration: none;
  color: #fbd137;
  margin-left: 28px; /* Adjust spacing between links */
  margin-top: -0.4cm;

}

.time-container {
  display: flex;
  flex-direction: row; /* Keep icon and label side by side */
  align-items: center;
  margin: 10px 0; /* Adjust spacing between sections */
}

.time {
  max-width: 25px;
  margin-right: 10px; /* Adjust spacing between icon and label */
}

.time-label {
  font-weight: bold;
  font-size: 13px;
  color: white;
}
.divider {
  border-top: 1px solid white;
  margin: 10px 0; /* Adjust margin as needed */
  width: 66%;

}

.instant-container {
  display: flex;
  flex-direction: row; /* Keep icon and label side by side */
  align-items: center;
  margin: 10px 0; /* Adjust spacing between sections */
  
}

.instant {
  max-width: 25px;
  margin-right: 10px; /* Adjust spacing between icon and label */
}

.instant-label {
  font-weight: bold;
  font-size: 13px;
  color: white;
}

.now-container {
  display: flex;
  flex-direction: row; /* Keep icon and label side by side */
  align-items: center;
  margin: 10px 0; /* Adjust spacing between sections */
}

.now {
  max-width: 25px;
  margin-right: 10px; /* Adjust spacing between icon and label */
  margin-left: 7cm;
  margin-top: -2cm;
}

.now-label {
  font-weight: bold;
  font-size: 13px;
  color: white;
  margin-top: -2cm;
}

.guest-container {
  display: flex;
  flex-direction: row; /* Keep icon and label side by side */
  align-items: center;
  margin: 10px 0; /* Adjust spacing between sections */
}

.guest {
  max-width: 25px;
  margin-right: 10px;
  margin-left: 13cm;
  margin-top: -3.3cm; /* Adjust spacing between icon and label */
}

.guest-label {
  font-weight:bold;
  font-size: 13px;
  color: white;
  margin-top: -3.2cm;
}
.guest1-label, .now1-label, .instant1-label{
  font-weight:lighter;
  font-size: 13px;
  color: white;
  margin-top: -0.1cm;
}
.image-container {
  display: flex;
  flex-direction: row; /* Keep icon and label side by side */
  align-items: center;
  margin: 10px 0;

   /* Adjust spacing between sections */
}

.image {
  width: 500px;
  /* Adjust spacing between icon and label */
  height: 400px;
  margin-left: 28cm;
  margin-top: -9.5cm;
  border-radius: 1cm;
}

.select {
  width: 25rem;
    border-radius: 1rem;
    box-shadow: 0px 15px 20px #999;
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
    background-color: white;
    height: 600px;
    width: 1100px;
    margin-top: 1cm;
    margin-left: -2cm;
}
.select h1{
margin-left: 11cm;
font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
margin-top: 0.5cm;
}

.multiselect-container {
  margin-top: 1cm;
  
  margin-left: 0.5cm;
  font-size: 18px;
 
}

.basic-multi-select {
  margin-top: 0.5cm;
  width: 12cm;
  margin-left: 0cm;
  font-size: 17px;

}
.multiselect-container1 {
  margin-top: -2.1cm;
  width: 18cm;
  margin-left: 14cm;
  font-size: 18px;
 
}

.basic-multi-select1 {
  margin-top: 0.3cm;
  width: 12cm;
  margin-left: 0.5cm;
  font-size: 17px;

}
.multiselect-container2 {
  margin-top: 1cm;
  width: 18cm;
  margin-left: 0.6cm;
  font-size: 18px;
 
}

.basic-multi-select2 {
  margin-top: 0.5cm;
  width: 12cm;
  margin-left: 0.2cm;
  font-size: 17px;

}
.multiselect-container3 {
  margin-top: -2.3cm;
  width: 18cm;
  margin-left: 14cm;
  font-size: 18px;
 
}

.basic-multi-select3 {
  margin-top: 0.5cm;
  width: 12cm;
  margin-left: 0.5cm;
  font-size: 17px;

}

.multiselect-container4 {
  margin-top: 1cm;
  width: 18cm;
  margin-left: 0.5cm;
  font-size: 18px;
 
}

.basic-multi-select4 {
  margin-top: 0.5cm;
  width: 12cm;
  margin-left: 0.5cm;
  font-size: 17px;

}
.DT button{
  width: 5cm;
  height:70%;
}





