/* src/component/Card.css */
.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  height: 13cm;
  width: 10cm;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  width: 25rem;
  height: 18rem;
  border-radius: 1rem 1rem 0 0;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;

}

.card-description {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

.card-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fbd137;
  color: #090909;
  
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.card-btn:hover {
  background-color:#fbd137;
}
.card-distance, .card-time {
  font-size: 0.9em;
  color: #666;
}
.card-description a:hover {
  text-decoration: underline;
  color: #fbd137;
}
@media (max-width: 768px) {
  .card{
    width: 100%;
   
  }

  .card-img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }

  .card-content {
    padding: 15px;
  }

  .card-title {
    font-size: 1.2em;
  }

  .card-description {
    font-size: 0.9em;
  }

  .card-btn {
    width: 100%;
    font-size: 1em;
    padding: 10px 0;
  }
}

@media (max-width: 480px) {
  .card{
    width: 100%;
    margin-top: 0.05cm;
  
  }
 
  .card-img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    
  }

  .card-content {
    padding: 10px;
  }

  .card-title {
    font-size: 1em;
  }

  .card-description {
    font-size: 0.8em;
  }

  .card-btn {
    width: 100%;
    font-size: 0.9em;
    padding: 10px 0;
  }
}

